@import url(./__item/photo-grid__item.css);

.photo-grid {
  max-width: 1184px;
  max-height: 596px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1rem 1fr 1rem 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}

.photo-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.photo-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.photo-grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.photo-grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.photo-grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.photo-grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.photo-grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.photo-grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.photo-grid > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.photo-grid > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.photo-grid > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.photo-grid > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
