@import url(./__item/photo-grid__item.css);
/*К сожалению, не понял ваш комментарий "Удалить стилизацию через вложенность". Что вы имели в виду? Если это будет единственным замечанием, буду благодарен, если вы всё же примете работу и напишите более подробный коментарий, что нужно сделать, я непременно сделаю. Спасибо. =)*/
.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1rem 1fr 1rem 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}

.photo-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.photo-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.photo-grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.photo-grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.photo-grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.photo-grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.photo-grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.photo-grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.photo-grid > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.photo-grid > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.photo-grid > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.photo-grid > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

@media (max-width: 1270px) {
  .photo-grid {
    margin: 0 3rem;
  }
}
@media (max-width: 1050px) {
  .photo-grid {
    -ms-grid-columns: 1fr 0.875rem 1fr 0.875rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 0.875rem 1fr 0.875rem 1fr 0.875rem 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.875rem;
  }
}
@media (max-width: 800px) {
  .photo-grid {
    margin: 0 1.5rem;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
  }
}
@media (max-width: 700px) {
  .photo-grid {
    margin: 0 2rem;
    -ms-grid-columns: 1fr 1.3334rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1.3334rem 1fr 1.3334rem 1fr 1.3334rem 1fr 1.3334rem 1fr 1.3334rem 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1.3334rem;
  }
}
@media (max-width: 550px) {
  .photo-grid {
    margin: 0 2rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 2rem;
  }
}
@media (max-width: 350px) {
  .photo-grid {
    margin: 0 2.388rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1.194rem 1fr 1.194rem 1fr 1.194rem 1fr 1.194rem 1fr 1.194rem 1fr 1.194rem 1fr 1.194rem 1fr 1.194rem 1fr 1.194rem 1fr 1.194rem 1fr 1.194rem 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 1.194rem;
  }
}
