.places {
  max-width: 984px;
  margin: 5.75rem auto 6.375rem;
}

@media (max-width: 1070px) {
  .places {
    margin: 6.375rem 3rem 6.375rem;
  }
}
@media (max-width: 800px) {
  .places {
    margin: 6.375rem 1.5rem 6.375rem;
  }
}
@media (max-width: 700px) {
  .places {
    margin: 8.5rem 2rem 8.5rem;
  }
}
@media (max-width: 550px) {
  .places {
    margin: 9.5522rem 0 9.5522rem;
  }
}
