@import url(./_underline/header__lang_underline.css);

.header__lang {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  width: 30px;
  height: 24px;
}

.header__lang:first-of-type {
  margin-right: 18px;
}

.header__lang:hover {
  opacity: 0.5;
}
