.comment__author {
  max-width: 382px;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #FFFFFF;
}

@media (max-width: 800px) {
  .comment__author {
    margin: 1rem 0 1.5rem 0;
  }
}
@media (max-width: 700px) {
  .comment__author {
    margin: 1.3334rem 0 2rem 0;
    font-size: 1.1667rem;
    line-height: 2rem;
  }
}
@media (max-width: 550px) {
  .comment__author {
    margin: 2rem 0 3rem 0;
    font-size: 1.75rem;
    line-height: 3rem;
  }
}
@media (max-width: 350px) {
  .comment__author {
    margin: 2.537rem 0 3.582rem 0;
    font-size: 2.0895rem;
    line-height: 3.2836rem;
  }
}
