.footer__menu {
  margin-right: 1.125rem;
}

.footer__menu:last-of-type {
  margin: 0;
}

@media (max-width: 700px) {
  .footer__menu {
    margin-right: 1.5rem;
  }
}
@media (max-width: 550px) {
  .footer__menu {
    margin-right: 0;
    margin-bottom: 1.8rem;
  }
}

@media (max-width: 350px) {
  .footer__menu {
    margin-bottom: 2.1492rem;
  }
}
