@import url(./__langs/header__langs.css);
@import url(./__lang/header__lang.css);
@import url(./__link/header__link.css);

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto 3rem;
  padding: 30px 48px 0;
}

@media (max-width: 800px) {
  .header {
    padding: 30px 24px 0;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 16px 16px 0;
  }
}
