.video__title {
  max-width: 322px;
  margin: 0.75rem 0 0 1.875rem;
  font-style: normal;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.4375rem;
  color: #FFFFFF;
}

@media (max-width: 800px) {
  .video__title {
    max-width: 250px;
    margin: 0.5rem 0 0 1.5rem;
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
}
@media (max-width: 700px) {
  .video__title {
    margin: 0.6667rem 0 0 2rem;
    font-size: 2rem;
    line-height: 2.1667rem;
  }
}
@media (max-width: 550px) {
  .video__title {
    margin: 1rem 0 0 3rem;
    font-size: 3rem;
    line-height: 3.25rem;
  }
}
@media (max-width: 350px) {
  .video__title {
    margin: 1.1940rem 0 0 2.388rem;
    font-size: 3.582rem;
    line-height: 3.880rem;
  }
}
