.video__observatory {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  position: relative;
  background-image: url(../../../images/video/observatory.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  max-width: 583px;
  height: 323px;
  z-index: 0;
}

.video__observatory:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(../../../images/video/observatory.jpg)
}

@media (max-width: 1050px) {
  .video__observatory {
    height: 288px;
  }
}
@media (max-width: 800px) {
  .video__observatory {
    height: 200px;
  }
}
@media (max-width: 350px) {
  .video__observatory {
    height: 192px;
  }
}
