.video__icon-play {
  width: 41px;
  height: 41px;
  margin-top: 5.15%;
  margin-left: 5.146%;
}

/*@media (max-width: 800px) {
  .video__icon-play {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
  }
}8?
