.content-subtitle {
  max-width: 640px;
  margin: 48px auto 72px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.1875rem;
  text-align: center;
  color: #FFFFFF;
}
