.lead__subtitle {
  max-width: 583px;
  min-height: 65px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  color: white;
  margin: 3rem auto 4.875rem;
}
