.lead__subtitle {
  max-width: 720px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  color: white;
  margin: 3rem auto 4.875rem;
}

@media (max-width: 700px) {
  .lead__subtitle {
    max-width: 375px;
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media (max-width: 550px) {
  .lead__subtitle {
    max-width: 290px;
    font-size: 2rem;
    line-height: 2.875rem;
  }
}
@media (max-width: 350px) {
  .lead__subtitle {
    max-width: 290px;
    font-size: 2.388rem;
    line-height: 3.4328rem;
  }
}
