@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);

.cover {
  position: relative;
  background-image: url(../../images/cover/cover.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1184px;
  height: 594px;
  margin: 0 auto 10rem;
  z-index: 0;
}

.cover:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(../../images/cover/cover.jpg)
}

@media (max-width: 1070px) {
  .cover {
    height: 562px;
  }
}
@media (max-width: 800px) {
  .cover {
    margin: 0 auto 6.375rem;
    height: 500px;
  }
}
@media (max-width: 700px) {
  .cover {
    margin: 0 auto 8.5rem;
  }
}
@media (max-width: 550px) {
  .cover {
    height: 272px;
    margin: 0 auto 8rem;
  }
}
@media (max-width: 350px) {
  .cover {
    margin: 0 auto 9.5522rem;
    height: 216px;
  }
}
