@import url(./_kamchatka/video__overlay_kamchatka.css);
@import url(./_observatory/video__overlay_observatory.css);

.video__overlay {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
