.lead__caption {
  max-width: 636px;
  min-height: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: white;
  margin-top: 0.6794rem;
}
