.lead__caption {
  max-width: 636px;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: white;
  margin-top: 0.6794rem;
}

@media (max-width: 800px) {
  .lead__caption {
    margin-left: 1.5rem;
  }
}
@media (max-width: 550px) {
  .lead__caption {
    margin-left: 2rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 350px) {
  .lead__caption {
    margin-left: 2rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
