@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__image/place__image.css);
@import url(./__paragraph-container/place__paragraph-container.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  max-width: 984px;
  margin-bottom: 4.5rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 47% calc(53% - 2.5rem);
  grid-template-areas:
  'title website'
  'image paragraph-container';
  grid-gap: 3.75rem 2.5rem;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1070px) {
  .place {
    grid-template-columns: 47% calc(53% - 2rem);
    grid-gap: 3rem 2rem;
  }
}
@media (max-width: 800px) {
  .place {
    grid-template-columns: 47% calc(53% - 1.75rem);
    grid-gap: 3rem 1.75rem;
  }
}
@media (max-width: 700px) {
  .place {
    grid-gap: 4rem 2.3334rem;
  }
}
@media (max-width: 550px) {
  .place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 6rem;
  }
@media (max-width: 350px) {
  .place {
    margin-bottom: 7.164rem;
  }
}
