@import url(./__list/footer__list.css);
@import url(./__link/footer__link.css);
@import url(./__menu/footer__menu.css);
@import url(./__author/footer__author.css);

.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
