.place__url {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__url:hover {
  opacity: 0.5;
}
